body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .charts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 600px;
  }
  
  .chart-wrapper {
    width: 48%;
    margin-bottom: 20px;
  }
  
  canvas {
    max-width: 100%; /* Adjust as needed */
    max-height: 300px; /* Adjust as needed */
  }
  